<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>

<body>

    <h1 align="center">Joan Clarke</h1>

    <p>
        Clarke nació el 24 de junio de 1917, en Londres. Una vez que finalizó el secundario se ganó una beca para
        estudiar en Cambridge donde obtuvo dos títulos de grado en Matemáticas.
    </p>

    <p align="center"><img height="50%" width="50%" src="/img/Clarke.jpg" alt="SinImagen"></p>

    <p>
        Su ingenio la destacó ante el resto y su profesor de Geometría, Gordon Welchman, la convocó para trabajar en
        Bletchley Park para la Escuela Gubernamental de Código y Cifrado (GCCS), que tenía como finalidad descifrar cómo
        funcionaba la máquina Enigma que utilizaban los alemanes para comunicarse de manera secreta.


    </p>

    <p>
        En 1940 se incorporó al equipo de trabajo que se había originado el año anterior. En un comienzo fue parte del
        grupo denominado "Las Niñas", donde había otras mujeres haciendo trabajos de asistencia y soporte para los
        hombres; pero al poco tiempo se incorporó a la sección Hut 8 donde estaba Turing con quien forjó una amistad que
        duró toda la vida.
    </p>

    <p>
        Incluso llegaron a comprometerse en 1941 pero al poco tiempo, luego de que Turing le confesara que tenía
        inclinaciones homosexuales, rompieron el vínculo como pareja, pero mantuvieron la amistad.
    </p>

    <h2> Qué era la máquina Enigma y cómo funcionaba </h2>

    <p align="center"><img height="50%" width="50%" src="/img/Joan_Clarke.png" alt="SinImagen"></p>

    <p>
        Se trataba de una máquina electromecánica desarrollada por el ingeniero alemán Arthur Scherbius. Contaba con
        un sistema de mecanismo de cifrado rotatorio que servía tanto para cifrar como para descifrar mensajes.
    </p>

    <p>
        El dispositivo tenía teclas, como una máquina de escribir, y al presionarlas, movían unos cilindros
        rotatorios. Cada rotor era un disco con dos caras y con 26 contactos eléctricos.
    </p>

    <p>
        Entre el teclado y el rotor había un pieza que permitía intercambiar seis pares de letras. Esto es lo que
        permitía ir codificando los mensajes.
    </p>

    <p>
        El matemático polaco Marian Rejewski fue clave para identificar el sistema de cifrado. Esbozó un diseño
        sobre el cual luego Turing ideó, en 1939, Bombe, un dispositivo electromecánico que usaron los británicos
        para entender los mensajes de los alemanes.
    </p>

    <p> Esta máquina permitió identificar miles de mensajes diarios que transmitían los alemanes a diario y por eso
        se considera que tuvo un rol fundamental en la victoria de los Aliados.
    </p>

    <p>Clarke recibió en 1947 la Orden del Imperio Británico por su trabajo durante la Segunda Guerra Mundial. Ese
        mismo año conoció al Teniente Coronel John Kenneth Ronald Murray, con quien se casó en 1952.
    </p>

    <p>La matemática, que siempre tuvo un perfil bajo y nunca habló demasiado sobre sus días en Bletchley Park,
        falleció en 1996 en Oxfordshire.
    </p>

    <p>Otros heroes por conocer:</p>
    
    <ul>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
    </ul>

    <p align="center">
        <a href="/">Home</a>
    </p>

</body>

</html>