<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>

<body>

    <h1 align="center"> Margaret Hamilton</h1>

    <p>
        Hamilton nació el 17 de agosto de 1937 en Paoli, un sitio ubicado en Indiana, Estados Unidos. Desde la
        adolescencia su pasión fueron las matemáticas, por lo que decidió estudiarlas en la Universidad de Michigan y
        posteriormente continuó sus estudios en Farlham College, donde concluyó en 1958 y se tituló como Matemática;
        además realizó un diplomado de otra rama totalmente diferente, Filosofía.
    </p>

    <p align="center"><img height="50%" width="50%" src="/img/Hamilton.jpg" alt="SinImagen"></p>

    <p>
        A la edad de 24 años y con tan sólo dos años de graduada tuvo la oportunidad de entrar a trabajar en Instituto
        de Tecnología de Massachussets (MIT por sus siglas en inglés). Donde estuvo coordinada por el profesor Edward
        Norton Lorenz, a quien le aprendió nuevos conocimientos; además aprendió diversos lenguajes de programación,
        pero cabe destacar que todo fue de manera autodidacta. Las grandes enseñanzas que obtuvo y las mismas que ella
        aprendió, fueron notables y suficientes para destacar entre los demás.
    </p>

    <p>
        El grandioso éxito que consiguió a raíz de esa misión le permitió trabajar en el Laboratorio Charles Stark
        Draper del mismo instituto, el cual trabajaba para el Programa Apolo. La puerta de entrada a este nuevo proyecto
        le cambiaría la vida, y no sólo a ella, sino que, a la humanidad.
    </p>

    <h2> Hamilton: la mujer más importante en la misión del Apolo 11 </h2>

    <p>El gobierno norteamericano pidió al MIT que Hamilton participará en el programa espacial y así fue como junto a
        su equipo diseñaron parte del software que hacía funcionar el Módulo de Mando y el Módulo Lunar de la misión
        Apolo 11.</p>

    <p>En una entrevista para el medio BBC News la ingeniera comentó lo siguiente:</p>

    <p>
        <cite>
            "Estábamos creando un campo nuevo, no había ninguna institución que enseñara a programar. Cuando
            no podíamos hallar respuestas, debíamos inventarlas"
        </cite>

    </p>

    <p>El objetivo principal del Apolo 11 era lograr que los astronautas: Neil Armstrong, Edwin Aldrin y Michael Collins
        salieran de la superficie terrestre para poder caminar sobre la Luna. Recordemos que, esta fue la quinta misión
        espacial tripulada por el Programa Apolo y fue la primera de la historia en conseguir su cometido.</p>

    <p>El equipo para la misión estaba conformado por científicos, astronautas, matemáticos, ingenieros, etc. Sin
        embargo, el papel de Margaret Hamilton como ingeniera de software fue de suma importancia, ya que sin sus
        contribuciones el alunizaje no hubiera sido posible.</p>

    <p>La matemática había diseñado un sistema “asicrono”, que permitía dar prioridad a las funciones imprescindibles,
        descartando las que no lo eran. Gracias a ese sistema fue como tuvo éxito el Apolo 11, pues minutos antes de que
        pisaran la Luna se dispararon alarmas debido a un error y con su software evitó una enorme crisis que habría
        sobrecargado al ordenador.
    </p>

    <p align="center"><img height="50%" width="50%" src="/img/Margaret_Hamilton.jpg" alt="SinImagen"></p>

    <p>
        <cite>
            "La acción del software fue la de eliminar tareas de prioridad baja y restablecer las más
            importantes"
        </cite>- Margaret Hamilton, 1971

    </p>

    <p>Otros heroes por conocer:</p>
    
    <ul>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
    </ul>

    <p align="center">
        <a href="/">Home</a>
    </p>

</body>

</html>