<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>

<body>

    <h1 align="center"> Grace Hopper</h1>

    <p>
        Grace Murray Hopper fue la creadora del COBOL y es conocida como la primera mujer "hacker" de la historia.
    </p>

    <p>
        Nació el 9 de diciembre de 1906 en Nueva York. Estudió matemáticas en la Universidad de Yale, donde también
        obtuvo el
        doctorado. Se unió a las fuerzas armadas y fue enviada a Harvard para completar sus estudios en ingeniería y
        física aplicada al laboratorio de computación.
    </p>

    <p align="center"><img height="50%" width="50%" src="/img/Hopper.jpg" alt="SinImagen"></p>

    <p>
        Desde 1944 comenzó a trabajar con Aiken en el ordenador Mark 1 de Harvard. Posteriormente se uniría a John
        Eckert y John Mauhly en el ordenador UNIVAC. Fue la creadora del primer
        compilador de ordenadores en 1952. Este software revolucionario permitió la primera programación automática de
        un lenguaje de computación.
    </p>

    <p>
        Asimismo, en 1959, inventó el COBOL (Common Business Oriented Language) el primer lenguaje de programación
        dedicado a la administración. Posteriormente trabajó en la estandarización
        internacional de los lenguajes de programación y trabajó fuertemente en los procedimientos de validación.
    </p>

    <p align="center"><img height="50%" width="50%" src="/img/Grace_Hopper.jpg" alt="SinImagen"></p>

    <p>
        Mencionaba que la clave de su éxito se basó en reconocer que <cite>"la mayoría de los problemas en la vida
            tienen más
            de una solución".</cite> Murió en 1992 a la edad de 86 años y hasta 1990 fue consultora en la compañía
        Digital.
    </p>

    <p>Otros heroes por conocer:</p>
    
    <ul>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
    </ul>

    <p align="center">
        <a href="/">Home</a>
    </p>

</body>

</html>