<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>

<body>

    <h1 align="center">Heroes</h1>

    <img height="40%" width="100%" src="/img/DiseñoSinTitulo.jpg" alt="SinImagen">

    <h2> ¿Qué es un héroe?</h2>

    <p>
        Un héroe enmarca rasgos o características que todo hombre/mujer desea y admira y se erige como un ejemplo a
        seguir. El héroe se destaca por realizar una hazaña o acto de bondad hacia otras personas de forma desinteresada
        o enfrentarse a grandes peligros o retos y salir airoso.
    </p>

    <p>A continuacion te dejamos a "Grandes Heroes" que marcaron el mundo:</p>

    <ul>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
    </ul>

</body>

</html>